.header, .companyWebsite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.chart {
  width: 100%;
  padding: 20px;
}

.trend {
  padding: 20px;
}

.newsArticle > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news > h2 {
  text-align: center;
  font-size: xx-large;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
}